.idea/
./vagrant/.vagrant/*
./vagrant-docker/.vagrant/*
./vagrant-host-2/.vagrant/*
advanced_networking_code_examples
.DS_Store
chapter-1/vagrant/.vagrant/
chapter-2/vagrant/.vagrant/
chapter-3/vagrant/.vagrant/
chapter-2/vagrant-docker/.vagrant/
chapter-1/vagrant/ubuntu-xenial-16.04-cloudimg-console.log